{
  "$schema": "http://json.schemastore.org/swcrc",
  "sourceMaps": true,
  "jsc": {
    "parser": {
      "syntax": "typescript",
      "tsx": false,
      "decorators": true,
      "dynamicImport": true
    },
    "target": "es2021",
    "paths": {
      "@controllers/*": ["src/controllers/*"],
      "@utils/*": ["src/utils/*"],
      "@services/*": ["src/services/*"],
      "@config/*": ["src/config/*"],
      "@types/*": ["src/types/*"],
      "@middleware/*": ["src/middleware/*"],
      "@routes/*": ["src/routes/*"]
    },
    "baseUrl": "."
  },
  "module": {
    "type": "commonjs"
  }
}
